<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    {% block style %}
    <link rel="stylesheet" href="style.css">
    {% endblock %}
</head>
<body>
{% block body %}

{% endblock %}
<script src="script.js"></script>
</body>
</html>