
html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: $bg_color;
  font-family: $font1;
  color: $color1;
  font-size: 16px;
  margin: 0;
  @media (max-width: 1200px) {
    font-size: 14px;
  }
}

p {
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  transition: $mat-tran;
}

a, a:active, a:focus, a:hover {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
  line-height: normal;
}

.flex {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  @media (max-width: 991px) { //Random breakpoint
    display: block;
    & > * {
      width: 100% !important;
      margin: 0 !important;
    }
    & > img {
      width: auto!important;
      display: block;
      margin: 0 auto!important;
    }
  }
}