.bloc-deco {
  background-color:$pale-green;
}

.bloc-newsletter {
  background-color:$pale-green;
}

.bloc-premium {
  background-color:$pale-green;
}

.bloc-confiance {
  background-color:$pale-green;
}