$color1: #555555;
$color2: #fffefe;
$pale-green: #b7ded9;
$pale-pink: #fa91a2;
$premium-pink: #f46177;
$bg_color: #fff;
$font1: 'Roboto', sans-serif;
$font2: 'arial', sans-serif;
$mat-tran: all 0.3s cubic-bezier(.25,.8,.25,1);