{% extends "includes/base.html" %}
{% block title %}M6 Boutique{% endblock %}
{% block description %}void{% endblock %}


{% block body %}
<div class="wrapper home" role="main">
    {% include "includes/header.html" %}
    <main class="">
        <section class="bloc-deco">
            &nbsp;
        </section>
        <section class="bloc-jour">
            <div class="container">
                &nbsp;
            </div>
        </section>
        <section class="bloc-newsletter">
            &nbsp;
        </section>
        <section class="bloc-promo">
            &nbsp;
        </section>
        <section class="bloc-test">
            <div class="container">
                &nbsp;
            </div>
        </section>
        <section class="bloc-premium">
            &nbsp;
        </section>
        <section class="bloc-promo">
            &nbsp;
        </section>
        <section class="bloc-confiance">
            &nbsp;
        </section>
    </main>
        {% include "includes/footer.html" %}
</div>
{% endblock %}